<!-- once we submit our article , we store it in the show route, which will be displayed in this ejs file which spits out html-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body class="p-3 mb-2 bg-dark text-blue"  style="background-image: url('https://mdbootstrap.com/img/new/standard/city/041.jpg');
height: 100%;">


<div class="container .d-flex p-5"  class="bg-image card shadow-1-strong"
style="background-image: url('https://mdbootstrap.com/img/new/standard/city/041.jpg');">
    <h1 class="mb-1"><%= article.title %></h1>
    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
    <div class="mb-4"></div>

    <div class="mb-4 text-white ">
      <%- article.sanitizedHtml %> <!-- this dispalys raw html om the page, instead of markdown-->
    </div>
  </div>
</body>
</html>